@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
/* Добавь это в конец globals.css */
.bg-grid-pattern {
  background-image: radial-gradient(#000 1px, transparent 1px);
  background-size: 20px 20px;
}

@media (prefers-color-scheme: dark) {
  .dark .bg-grid-pattern {
    background-image: radial-gradient(#fff 1px, transparent 1px);
  }
}
